# Scandit Data Capture SDK license key — enables camera barcode scanning
# (SparkScan) on the "Scan & Recommend" tab. Generate one at https://ssl.scandit.com
# Without it, the app falls back to manual product lookup.
VITE_SCANDIT_LICENSE_KEY=
